name: Publish to PyPI

on:
  push:
    tags:
      - 'v[0-9]+.*'

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    environment: production

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install build dependencies
        run: pip install build twine

      - name: Update version from Tag
        run: |
          # Holt den Tag-Namen (z.B. v1.0.1) und schneidet das 'v' ab -> 1.0.1
          VERSION=${GITHUB_REF_NAME#v}
          echo "Setze Version in pyproject.toml auf: $VERSION"
          
          # Ersetzt die Zeile 'version = "..."' durch die Tag-Version
          sed -i "s/version = \".*\"/version = \"$VERSION\"/" pyproject.toml

      - name: Build sdist and wheel
        run: python -m build

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1

      - name: Clean up dist directory
        run: rm -rf dist